#board {
    position: relative;
    overflow: hidden;

    height: 800px;
}

#board .component {
    position: absolute;
    border: 1px solid #eee;

    /* Make sure events are propagated to the JointJS element so, e.g. dragging works.*/
    pointer-events: none;
    -webkit-user-select: none;
}

#board .component button, .component .create-link {
    /* Enable interacting with inputs only. */
    pointer-events: auto;
}

#board .generate {
    margin-right: 15px;
}
