html, body, .container-fluid, .sidebar {
    height:100%;
}

.content {
    height: 85%;
}

.components {
    height: 45%;
    overflow-y: scroll;
}

.components img {
    vertical-align:middle;
    margin-right: 20px;
}

#result {
    height: 55%;
}

#result pre {
    height: 80%;
    overflow-y: scroll;
}

#board {
    position: relative;
    overflow: hidden;
}

#board svg {
    border: 1px solid #eee;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAHUlEQVQYV2NkYGAwBuKzQIwXMBJSAJMfVUidcAQAnUQBC6jEGBUAAAAASUVORK5CYII=);
}

#board .component {
    position: absolute;
    border: 1px solid #eee;
    margin-left: 15px;
    background-color: #fff;

    /* Make sure events are propagated to the JointJS element so, e.g. dragging works.*/
    pointer-events: none;
    -webkit-user-select: none;
}

#board .component button, #board .component .create-link, #board .component .edit {
    /* Enable interacting with inputs only. */
    pointer-events: auto;
}

#board .component .name {
    padding-left: 5px;
}

#board .component .content {
    margin-top: 10px;
    text-align: center;
}

#board .component .create-link {
    position: absolute;
    left: 50%;
    margin-left: -10px;
    top: 70px;
}

#board .component .edit {
    position: absolute;
    right: 3px;
    top: 70px;
    width: 15px;
    border: 0;
    background: transparent;
    padding: 0;
    margin: 0;
}

#board .generate {
    margin-right: 15px;
}

.popover {
    width: 500px;
}
