<!doctype html>
<html lang="en" ng-app="gaudiConfigBuilder">
<head>
    <meta charset="utf-8">
    <title>Gaudi configuration file maker</title>
    <link rel="stylesheet" href="css/bootstrap.min.css"/>
    <link rel="stylesheet" href="css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="css/jquery-ui-1.10.4.custom.min.css"/>
    <link rel="stylesheet" href="css/joint.nojquery.min.css"/>
    <link rel="stylesheet" href="css/app.css"/>
</head>
<body>
    <div class="container-fluid">
        <div class="page-header">
            <h1>Gaudi configuration file maker</h1>
        </div>

        <div class="row content">
            <section class="col-md-3 sidebar">
                <ul class="components list-group" ng-controller="componentsController">
                    <li class="list-group-item clearfix" ng-repeat="(type, component) in availableComponents" data-type="{{ type }}" on-finish-render="onDisplayComponents">
                        <img ng-src="{{ component.logo }}" alt="{{ component.name }}" /> <span class="name">{{ component.name }}</span>
                    </li>
                </ul>

                <div id="result" ng-controller="resultController">
                    <pre>{{ getFileResult() }}</pre>
                    <button type="button" class="generate btn btn-primary pull-right" ng-click="generateFile()">Download</button>
                </div>
            </section>

            <section id="board" class="col-md-9" ng-controller="boardController">
                <div id="graphContainer"></div>
            </section>
        </div>
    </div>

    <script type="text/ng-template" id="edit-attribute.html">
        <label for="{{ name }}">{{ field.label }}</label>

        <input id="{{ name }}" ng-switch-when="text" type="text" ng-model="values[fieldsType][name]" ng-init="values[fieldsType][name]=field.default" />

        <select id="{{ name }}" ng-switch-when="link" ng-model="values[fieldsType][name]" ng-options="option as option for option in componentNames"></select>

        <select id="{{ name }}" ng-switch-when="links" ng-model="values[fieldsType][name]" multiple ng-multiple="true" ng-options="option as option for option in componentNames"></select>

        <select id="{{ name }}" ng-switch-when="choice" ng-model="values[fieldsType][name]" ng-options="option as option for option in field.choices"></select>

        <select id="{{ name }}" ng-switch-when="choices" ng-model="values[fieldsType][name]" multiple ng-multiple="{{ field.multiple }}" ng-options="option as option for option in field.choices"></select>
    </script>

    <script type="text/ng-template" id="edit-component.html">
        <div class="modal-body">
            <form action="#">
                <label for="name">Name: </label>
                <input type="text" id="name" name="name" ng-model="values.name" />

                <div class="{{fieldsType}}" ng-repeat="fieldsType in ['standard', 'custom']">
                    <div class="form-field" ng-include="'edit-attribute.html'" ng-repeat="(name, field) in fields[fieldsType]"  ng-switch="field.type"></div>
                </div>
            </form>

            <div class="modal-footer">
                <button class="btn btn-primary" ng-click="ok()">OK</button>
                <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
            </div>
        </div>
    </script>

    <script type="text/javascript" src="js/lib/angular.min.js"></script>
    <script type="text/javascript" src="js/lib/jquery-2.1.0.min.js"></script>
    <script type="text/javascript" src="js/lib/jquery-ui-1.10.4.custom.min.js"></script>
    <script type="text/javascript" src="js/lib/bootstrap.min.js"></script>
    <script type="text/javascript" src="js/lib/ui-bootstrap-custom-0.10.0.min.js"></script>
    <script type="text/javascript" src="js/lib/ui-bootstrap-custom-tpls-0.10.0.min.js"></script>
    <script type="text/javascript" src="js/lib/joint.nojquery.min.js"></script>
    <script type="text/javascript" src="js/lib/yaml/YamlDumper.js"></script>
    <script type="text/javascript" src="js/lib/yaml/YamlInline.js"></script>
    <script type="text/javascript" src="js/lib/yaml/YamlEscaper.js"></script>

    <script type="text/javascript" src="js/gaudi-graph-element.js"></script>
    <script type="text/javascript" src="js/gaudi-config-builder.js"></script>
</body>
</html>
